.bar-chart{
    background-color: beige;
}
svg text{
    fill: green;
    text-anchor: end;

}
body{
    margin:0;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;

}
#map { height: 180px; }